importFrom("stats", "approxfun", "approx", "rnorm", "var")

importFrom("utils",  tail )
importFrom("JM",  survfitJM )
importFrom("survival",  survfit, Surv, coxph )
importFrom("timeROC",  timeROC )
importFrom("pec",  pec )
importFrom("nlme",  lme )


exportPattern("^[[:alpha:]]+")

exportPattern("^[^\\.]")

