importFrom("stats", "approxfun", "approx", "rnorm", "var", "complete.cases", "optim", "quantile", "sd")

importFrom("utils",  tail )
importFrom("JM",  survfitJM )
importFrom("survival",  survfit, Surv, coxph )
importFrom("timeROC",  timeROC )
importFrom("pec",  pec )
importFrom("nlme",  lme )


exportPattern("^[[:alpha:]]+")

exportPattern("^[^\\.]")

